.list {
  list-style: none;
  font-size: 30px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 10px;
  padding: 0px;
}

.navbar {
  background-color: blueviolet;
}

.profile-counter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.counter-button {
  margin: 3px;
}

.number-counter {
  margin: 3px;
}
